body{
    background-color: rgb(25, 25, 25);
    color: white;
    font-family: Arial;
}

.title{
    font-size:28px;
    font-weight: bolder;
}

.rock-button , .paper-button,.scissors-button{
    height: 100px;
    width: 100px;
    background-color: black;
    border:3px solid white;
    margin-left: 10px;
    border-radius: 50px;
    cursor: pointer
}

.rock-img,.paper-img , .scissors-img{
    height: 50px;
    width: 50px;
}

.autoplay-button,.reset-button{
    background-color: white;
    border: none;
    font-size: 15px;
    padding: 8px 15px;
    cursor: pointer;
}